.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-feed {
  background-color: red;
}

.curr-converter {
  background-color: blue;
}

.conv-table {
}

.curr-options {
}

#send-btn {
}

.exchange-rate {
  background-color: green;
}
